@{
    Layout= "Layout";
    ViewData["Title"]= "Anfrage erfolgreich";
    
}

<div class="container">
	<div  class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color: #3a3973">Success</h2>
        <h3>Hallo, @Model.firstname @Model.lastname</h3>
        <p style="font-size:20px;color:#5C5C5C;">
            Vielen Dank für Dein Vertrauen in Uns! Wir werden deine Anfrage schnellstmöglich bearbeiten und dich anschließend mit einem Terminvorschlag kntaktieren.
        </p>
        <a href="/Home" class="btn btn-secondary">     Zurück zur Startseite      </a>
    <br><br>
        </div>
        
	</div>
</div>